/* * body {
  margin: 0;
  padding: 0;
} */
#slider {
  position: relative;
  text-align: center;
  top: 100px;
}
#slider {
  margin: 0 auto;
}
#slides article {
  width: 20%;
  float: left;
}
#slider .image {
  width: 500%;
  line-height: 0;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
article img {
  width: 100%;
}
#desktop:checked ~ #slider {
  max-width: 960px;
}
/* #switch1:checked ~ #slider input:nth-child(1)
#switch2:checked ~ #slider input:nth-child(2) */

#switch1:checked
  ~ #controls
  label:nth-child(5)
  #switch2:checked
  ~ #controls
  label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4) {
  background: red no-repeat;
  float: left;
  margin: 0 0 0 -84 px;
  display: block;
  height: 68px;
  width: 68px;
}

.all input {
  cursor: pointer;
}

