/* * body {
  margin: 0;
  padding: 0;
} */
#slider {
  position: relative;
  text-align: center;
  top: 100px;
}
#slider {
  margin: 0 auto;
}
#slides article {
  width: 20%;
  float: left;
}
#slider .image {
  width: 500%;
  line-height: 0;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
article img {
  width: 100%;
}
#desktop:checked ~ #slider {
  max-width: 960px;
}

#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
.all input {
  cursor: pointer;
}
#switch1:checked ~ #slides .image {
  margin-left: 0;
}
#switch2:checked ~ #slides .image {
  margin-left: -100%;
}
#switch3:checked ~ #slides .image {
  margin-left: -200%;
}
#switch4:checked ~ #slides .image {
  margin-left: -300%;
}
#switch5:checked ~ #slides .image {
  margin-left: -400%;
}
#desktop {
  display: none;
}
