body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(https://picsum.photos/2400/1400);
}

.all {
  margin: 100px auto 0;
  position: relative;
  width: calc(100% - 100px);
  height: calc(100vh - 300px);
}

.slider {
  height: inherit;
  overflow: hidden;
  position: relative;
  width: calc(100%);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.slides {
  height: inherit;
  opacity: 0;
  position: absolute;
  width: inherit;
  z-index: 0;
  transform: scale(1.5);
  transition: transform ease-in-out 0.5s, opacity ease-in-out 0.5s;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.switch1 {
  background-image: url(https://picsum.photos/1200/800);
}

.switch2 {
  background-image: url(https://picsum.photos/1200/801);
}

.switch3 {
  background-image: url(https://picsum.photos/1200/802);
}

.switch4 {
  background-image: url(https://picsum.photos/1200/803);
}

.switch5 {
  background-image: url(https://picsum.photos/1200/804);
}

#switch1:checked ~ .slider > .switch1,
#switch2:checked ~ .slider > .switch2,
#switch3:checked ~ .slider > .switch3,
#switch4:checked ~ .slider > .switch4,
#switch5:checked ~ .slider > .switch5 {
  opacity: 1;
  z-index: 1;
  transform: scale(1);
}

.all > input {
  display: none;
}

.all .controls {
  right: 0%;
  position: absolute;
}

.all label {
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20.5px;
  margin: 25px 12px 0 16px;
  position: relative;
  border-radius: 50%;
  transition: background ease-in-out 0.5s;
}

.all label:hover,
#switch1:checked ~ .controls label:nth-of-type(1),
#switch2:checked ~ .controls label:nth-of-type(2),
#switch3:checked ~ .controls label:nth-of-type(3),
#switch4:checked ~ .controls label:nth-of-type(4),
#switch5:checked ~ .controls label:nth-of-type(5) {
  background: rgb(187, 45, 45);
}

.all label:after {
  border: 3px solid rgb(187, 45, 45);
  content: ' ';
  display: block;
  height: 22px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 22px;
  border-radius: 50%;
}
